{% block content %}
<article class="album">
    {% if album.published_date %}
    <time class="date">
        {{ album.published_date }}
    </time>
    {% endif %}
    <h2>{{ album.title }}</h2>
    <p>{{ album.text|linebreaksbr }}</p>
</article>
{% endblock %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>{{ album.title }}</h1>
        <h2>by: {{ album.artist }}</h2>
        {% for song in album.songs.all %}
        <h3>{{ song }}</h3>
        {% endfor %}
    </div>
</body>
</html>