<!-- {% block content %}
<article class="album">
    {% if album.published_date %}
    <time class="date">
        {{ album.published_date }}
    </time>
    {% endif %}
    <h2>{{ album.title }}</h2>
    <p>{{ album.text|linebreaksbr }}</p>
</article>
{% endblock %} -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/django_music.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container"
        <h1>{{ album.title }}</h1>
        <h2>by: {{ album.artist }}</h2>
        {% for song in album.songs.all %}
        <h3>{{ song }}</h3>
        {% endfor %}
    </div>
<a style="text-decoration: none" href="{% url 'album_edit' album.pk %}" class="button">Edit Album</a>
<a style="text-decoration: none" href="{% url 'album_remove' album.pk %}" class="button">Delete Album</a>
</body>
</html>