{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/django_music.css' %}">
    <title>Document</title>
</head>
<body>
    <!-- container for content with the css class container -->
    <div class="container">
        <!-- displays title of album using template variable -->
        <h1>{{ album.title }}</h1>
        <h2>by: {{ album.artist }}</h2>
        <!-- initiates a loop that iterates through all songs related to the album -->
        {% for song in album.songs.all %}
        <!-- displays title of each song using template variable -->
        <h3>{{ song }}</h3>
        {% endfor %}
    </div>
<a style="text-decoration: none" href="{% url 'album_edit' album.pk %}" class="button">Edit Album</a>
<a style="text-decoration: none" href="{% url 'album_remove' album.pk %}" class="button">Delete Album</a>
</body>
</html>